body {
    background-color: lightgray;
    font-family: Arial;
}

.box {
    width: 250px;
    margin: 150px auto;
    padding: 20px;
    background: white;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
